* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icones-svg {
    display: none;
}

.corpo-pagina {
    margin: 0 auto;
}

.container-titulo-1 {
    width: 749px;
    height: 122px;
    margin: 0 auto;
    padding-top: 20px;
}

#titulo-1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 39px;
    color: #000;
}

.container-introducao {
    width: 749px;
    height: 200px;
    margin: 0 auto;
}

#introducao-folhas {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    text-align: justify;
    color: #222;
}

.tabela-verde {
    width: 724px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}

.tab-superior {
    text-align: center;
    border: 3px solid #2B903C;
    border-radius: 27px;
    height: 180px;
    width: 320px;
    padding: 8px 5px 0 0;
    margin: 0 auto;
}

.container-titulo-2 {
    width: 320px;
    height: 50px;
}

.titulo-tab {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #222;
    padding-top: 5px;
}

.container-paragrafo-tabela {
    width: 300px;
    height: 100px;
    margin: 0 auto;
}

p.paragrafo-tabela {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
}

.ligaturas {
    width: 429px;
    height: 53px;
    margin: 0 auto;
}

.tab-inferior {
    width: 322px;
    height: 180px;
    display: contents;
}

.tab-inferior-esquerda {
    text-align: center;
    border: 3px solid #2B903C;
    border-radius: 27px;
    height: 180px;
    width: 320px;
    padding: 8px 5px 0 0;
    margin: 0 auto;
    float: left;
}

.tab-inferior-direita {
    text-align: center;
    border: 3px solid #2B903C;
    border-radius: 27px;
    height: 180px;
    width: 320px;
    padding: 8px 5px 0 0;
    margin: 0 auto;
    float: right;
}

.abas-folhas {
    margin: 0 auto;
}

.container-abas {
    width: 750px;
    margin: auto;
}

.container-titulos-abas {
    width: 750px;    
}

.tabs-nav {
    list-style: none;
}

.tabs-nav li {
    display: inline;
}

.tabs-nav a {
    display: inline-block;
    background: #EAEBEE;
    border: 1px solid #C4C4C4;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    margin-bottom: -1px;
}

.active a {
    margin-bottom: -1px;
    background: #fff;
    border-bottom-color: transparent;
}

#titulo-aba {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600; /* diferente do protótipo */
    font-size: 14px;
    line-height: 23px;
    color: #000;
}

.borda-superior-aba-1 {
    border-bottom: 1px solid #C4C4C4;
    width: 750px;
}
