/* corpo do site */
body {
    /* cor de fundo*/
    background-color: #617a61;
    /* cor da fonte*/
    color: #241324;
    /* tipo, tamanho e estilo*/
    font: normal 20px Arial;
}

/* cabeçalho */
header {
    text-align: center;
}

/* seção */
section {
    /* cor de fundo */
    background: white;
    /* bordas arredondadas */
    border-radius: 10px;
    /* espaçamento */
    padding: 15px;
    /* comprimento */
    width: 500px;
    /* centralizando */
    margin: auto;
    /* tamanho e cor da sombra da seção */
    box-shadow: 3px 3px 10px #0000009d;
}

/* rodapé */
footer {
    /* cor da fonte*/
    color: white;
    /* alinhamento do texto */
    text-align: center;
    /* tipo da fonte */
    font-style: italic;
}

/* todas as tags div que houver */
div {
    /* alinhamento do texto */
    text-align: center;
}
