body {
    background-color: #93adf3;
    font: normal 15pt Arial;
    margin: 0 auto;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px #0000009d;
}

div {
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

div#resposta {
    margin-top: 10px;
    font-size: 18px;
    color: #0e1411;
    text-align: center;
}