@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

body {
    background-color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
}

#interface {
    width: 900px;
    background-color: #fff;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px #606060;
    padding: 10px;
    position: relative;
}

#cabecalho {
    border-bottom: 1px solid #606060;
    height: 150px;
    background: url("img/glass-logo-peq.jpg") no-repeat 0px 90px;
}

#cabecalho h1 {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    padding: 0;
    margin-bottom: 0;
}

#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    color: #888;
    font-size: 15pt;
    padding: 0;
    margin-top: 0;
}

header#cabecalho-artigo h1 {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0;
    margin-top: 0;
}

header#cabecalho-artigo h2 {
    font-size: 13pt;
    color: #cecece;
    background-color: #fff;
    margin: 0;
}

header#cabecalho-artigo h3 {
    font-size: 11pt;
    color: #606060;
}

.direita {
    text-align: right;
}

#icone {
    position: absolute;
    left: 720px;
    top: 40px;
}

p {
    text-align: justify;
    text-indent: 50px;
}

a {
    color: #606060;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.foto-legenda {
    position: relative;
    border: 8px solid #fff;
    box-shadow: 1px 1px 4px #000;
}

.foto-legenda img {
    width: 100%;
    height: 100%;
}

.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: 1s;
}

.foto-legenda:hover figcaption {
    opacity: 1;
}

#menu {
    display: block;
}

#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 280px;
}

#menu li {
    display: inline-block;
    background-color: #ddd;
    padding: 10px;
    margin: 2px;
    transition: 1s;
}

#menu li:hover {
    background-color: #606060;
}

#menu h1 {
    display: none;
}

#menu a {
    color: #000;
    text-decoration: none;
}

#menu a:hover {
    color: #fff;
}

section#corpo {
    display: block;
    width: 500px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 15px;
}

#corpo h2 {
    font-size: 13pt;
    color: #606060;
    background-color: #ddd;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#tabela-tec caption {
    color: #888;
    font-size: 13pt;
    font-weight: bolder;
}

#tabela-tec span {
    display: block;
    float: right;
    color: #000;
    font-size: 8pt;
    margin-top: 10px;
}

#tabela-tec {
    border: 1px solid #606060;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

#tabela-tec td {
    border: 1px solid #606060;
    padding: 10px;
    text-align: center;
}

.col-esq {
    color: #fff;
    background-color: #606060;
    vertical-align: top;
    font-weight: bold;
}

.col-dir {
    background-color: #cecece;
}

aside#lateral {
    display: block;
    width: 350px;
    float: right;
    background-color: #ddd;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

aside#lateral h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 0;
}

aside#lateral h2 {
    background-color: #606060;
    font-size: 13pt;
    color: #fff;
    padding: 5px;
}

#rodape {
    clear: both;
    border-top: 1px solid #606060;
}

#rodape p {
    text-align: center;
}
