body {
    width: 400px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    overflow: hidden;
}

p {
    text-align: justify;
    text-indent: 20px;
}

article h1 {
    font-size: 15pt;
    color: #fff;
    background-color: rgba(0, 0, 0, .3);
    padding: 5px;
    margin: 0;
}

article h2 {
    font-size: 13pt;
    color: #888;
    margin: 0;
}

article {
    margin-bottom: 200px;
}

article#tela img {
    width: 100%;
}

article#sensores img {
    width: 100%;
}

img.img-dir {
    display: block;
    float: right;
    margin-left: 5px;
}
